This notebook is a general use notebook for cleaning and exploring future data sets that I extract from kaggle. This is usefull for the first phase of an analysis

## Step 0: Imports and Reading data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [ ]:
#Connect to google drive

#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
#File ubication on the google drive

#file = '(insert the root here)'
#df = pd.read_csv(file)

In [ ]:
#read a local dataset
df=pd.read_csv('(insert the root here)')

## Step 1: Imports and Reading data

*   Dataframe Shape
*   Head and tail
*   dtypes
*   describe

In [ ]:
#Size of the matriz. number of rows and columns
df.shape

In [ ]:
#Top 5 rows
df.head()

In [ ]:
#last 5 rows
df.tail()

In [ ]:
#name of all columns of the dataset
df.columns

In [ ]:
# type of data of each column
#It is normal  that pandas see it as an object
df.dtypes

In [ ]:
#provide general statistic information
df.describe()

## Step 2: Data preparation


*   Dropping irrelevant columns and rows
*   Identifying duplicated columns
*   Renaming columns
*   Feature creation

In [ ]:
#we now check what we want to remove from the colums that do not add value to the analysis
df.head()

In [ ]:
#we call al columns so we can copy and paste  on the cell below
df.columns

In [ ]:

#Eliminate several columns in one cell
df[['name','size',
    #'status',
    'location',
    #'latitude','longitude'
    ]]

In [ ]:
#There are cases were it is easier to eliminate a few columns. you can use the drop command
df.drop([''],axis=1,inplace=True)

In [ ]:
#A review again of the object
#this cell is useful to determine which columns are you going to erase
df.dtypes

In [ ]:
#In case you need to change an object into date
df['date'] = pd.to_datetime(df['date'])

In [ ]:
#Rename columns. In case of need it.
df.rename(columns={'old_name':'new_name',
                   'old_name1':'new_name1',
                   },inplace=True)

In [ ]:
#Lets review empty spaces on the dataset
df.isna()

#THis will show the ttal number by colum of empty dat
df.isna().sum

In [ ]:
#Duplicated data
#in some cases you want specific information. Netflix catalogue or rollercoaster in US is specific information that requieres only one row.
# Due there is only one titanic movie.
#but this does not work when you are working with biology, you might have similar results of bacteria, agriculture, etc.

#This shows if a row is duplicated or not.
df.duplicated()

In [ ]:
#The following shows the specific duplicates
df.loc[df.duplicated()]

In [ ]:
#check for specific duplicates
df.loc[df.duplicated(subset=['name'])]

In [ ]:
#in case you need a specific value to double check
df.query('')

## Step 3: Feature Understanding


*   Plotting feature distribution
    *   Histogram
    *   KDE
    *   Boxplot

In [ ]:
#estimation to determine what is going to be the x axis and the y axis
df

In [ ]:
#The following is to extract data from each column and make a bar graph
df[''].value_counts().plot(kind='bar', title='')

In [ ]:
#histogram
df[''].plot(kind='hist', bins=20, title='')

## Step 4: Feature Relationships

*   Scatterplot
*   Heatmap correlation
*   Pairplot
*   Groupby comparisons

In [ ]:
#using matplotlib library for a scatter graph
df.plot(kind='scatter',
        x='',
        y='',
        title='')
plt.show()

In [ ]:
# using seaborn library for a scatter graph
sns.scatterplot(data=df,
                x='',
                y='')
plt.show()

In [ ]:
#pairplot
sns.pairplot(df)
plt.show()

In [ ]:
#In this section we are showing the correlation between the columns
df.corr()

In [ ]:
# the heatmap to see correlation among columns
sns.heatmap(df.corr(),annot=True)

##Step 5: Questions about the data